.signin-screen{
  margin-top:5rem;
}
.formSignin{
    max-width:80rem;
    margin:2rem auto 0 auto;
    background-color: whitesmoke;
    padding: 0rem 4rem;
    border-radius: 2rem;
  }
  .formSignin > div{
    display: flex;
    flex-direction: column;
    margin: 1rem;
  }
  .formSignin label{
    margin: 0.5rem 0;
    display: block;
  }
  .formSignin input{
    outline: none;
    background-color: whitesmoke;
    border-top: none;
    border-left: none;
    border-right:none ;
    border-bottom: .2rem solid black;
    outline: none;
    padding:0.6rem 0.2rem ;
    font-size: 2rem;
  }
  .formSignin input:f{
    outline: brown;
  }
  
  